* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-45deg, #1eAE98, #D8B5FF);
    z-index: -1;
}

h1 {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
}

ul {
    list-style: none;
}

#container {
    position: relative;
    top: 90px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
}

[class*="li-container"] {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    cursor: move;
}

.li-container {
    height: 60px;
    padding: 18px 19px;
    background-color: white;
}

.li-container > input[type='text'] {
    max-width: 60%;
}

.li-container > button {
    background-color: rgb(240, 240, 240);
    box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.3);
}

.li-container-sublist {
    height: 48px;
    padding: 11px 10px;
}

#dragged .li-container,
#dragged .li-container-sublist {
    opacity: 0.4;
}

.icon-container {
    flex-grow: 1;
    text-align: right;
}

.li-container:hover > .icon-container {
    display: inline-block;
}

.new-list-item {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 19px;
    width: 100%;
    border: 1px dashed white;
}

.new-list-item-sublist {
    display: flex;
    align-items: center;
    height: 49px;
    padding-left: 10px;
    width: 100%;
    border: 1px dashed white;
}

.add-new-list-object-sublist {
    display: none; /* Changes to grid when clicked */
    width: 28px;
    height: 28px;
    place-items: center;
    border: 1px dashed white;
    color: white;
    cursor: pointer;
}

.add-list-item-text-input {
    color: white;
}

.add-list-item-text-input::placeholder {
    opacity: 1;
    color: white;
}

.sublist-container {
    margin-left: 30px;
    margin-bottom: 18px;
}

.greyed-out input,
.greyed-out button,
.greyed-out .bi-pencil-fill,
.greyed-out .bi-x-lg {
    color: rgb(0, 0, 0, 0.4);
}

.greyed-out button,
.greyed-out .add-sublist-btn {
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.greyed-out input[type='text'] {
    text-decoration: line-through;
    text-decoration-color: rgb(0, 0, 0, 0.2);
}

.bi {
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
}

button,
input {
    margin-right: 11px; 
    font-family: 'Be Vietnam Pro', sans-serif;
    color: rgb(46, 46, 46);
    border: none;
}

button {
    background-color: white;
    cursor: pointer;    
    padding: 0.5em 1.1em;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: black;
    box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.2);
}

.add-sublist-btn {
    background: none;
    padding: 0.65em 1.25em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

input[type='text'] {
    font-size: 12.5px;
    font-weight: 300; 
    padding: 7px 1em; 
    background: none;                  
} 

.hidden {
    display: none;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(165, 165, 165);
    vertical-align: sub;                                                      
    position: relative;   
    vertical-align: middle;                                   
}   

input[type='checkbox']:checked {                                     
    border: 1px solid rgb(0, 0, 0, 0.2);;                                                
}  

input[type='checkbox']:checked:after {                                
  content: '';                                                                 
  position: absolute;                                                         
  width: 7px;                                                                
  height: 7px;                                                               
  border-radius: 50%;                                                         
  background: rgb(0, 0, 0, 0.2);;                                                        
  top: 50%;                                                                    
  transform: translateY(-50%);                                                
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}